<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages &amp; Scripting</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">DevOps &amp; Orchestration</div>
        <ul>
          {% for item in site.data.skills.devops %}
          <li class="skillz__category__item">{{item.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Cloud &amp; Monitoring</div>
        <ul>
          {% for item in site.data.skills.cloud %}
          <li class="skillz__category__item">{{item.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Blockchain &amp; Cryptography</div>
        <ul>
          {% for item in site.data.skills.blockchain %}
          <li class="skillz__category__item">{{item.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
